#main {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  #title {
    text-align: center;
  }

  #image {
    max-width: 100%;
  }

  #img-div {
    text-align: center;
    background-color: white;
  }
  
  #img-caption {
    padding-bottom: 20px;
  }
  
  #tribute-info {
    text-align: center;
  }
  
  ul {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: left;
    font-size: 19px;
    line-height: 1.5;
  }